<h1>About</h1>

<p>Useful SMS is useful (heh) application for quickly retrieving bits of information that matter to you when you need them. This includes: Library hours, Airbears2 Keys, phone numbers, birthdays, BART schedules, etc. Instead of repeatedly searching through your emails or the web for obscure bits  information that you find yourself needing a lot more than you think you do, add it as a Useful SMS message with a keyword that you make yourself</p>

<p>For information on using and setting up the application, click <%= link_to "here", setup_path %></p>

